body, input {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-golf-course-wrapper {
  display: flex;
  justify-content: center;
  max-height: 92vh;
}

.add-golf-course-wrapper form {
  display: flex;
  flex-direction: column;
  outline: 5px solid black;
  width: 50%;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  margin: 20px;
}

.add-golf-course-wrapper h1 {
  text-align: center;
}

.add-golf-course-wrapper label {
  font-size: 20px;
  font-weight: bold;
}

.add-golf-outing-button {
  font-size: 20px;
  margin-top: 20px;
  outline: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

.add-golf-outing-button:hover {
  background-color: rgb(226, 223, 223);
}

.add-edit-teebox-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
}

.add-edit-teebox-section-wrapper {
  display: flex;
  justify-content: center;
}

.add-outing-calendar {
  width: 150px; 
  font-size: 16px;
}

.add-outing-email-date-cell {
  display: flex; 
  flex-direction: column; 
  width: 250px;
}

.add-outing-hole-score-cell {
  width: 37.5px; 
  font-size: 18px; 
  text-align: center;
}

.add-teebox-button {
  background-color: white;
  margin-top: 18px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
  width: 215px;
}

.add-teebox-button:hover {
  background-color: rgb(226, 223, 223);
}

.add-teebox-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.amount-of-teeboxes-label {
  margin-top: 12px;
}

.amount-of-teeboxes-dropdown {
  width: 250px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

body {
  background-image: url('./images/golf-course.jpg');
  background-size: cover; 
  background-position: center bottom; 
  background-repeat: no-repeat;
  height: 100vh;
}

.cancel-golf-outing-button {
  font-size: 20px;
  margin: 20px 8px 0 0;
  outline: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  background-color: #f78282;
  font-weight: bold;
  cursor: pointer;
}

.cancel-golf-outing-button:hover {
  background-color: #d46f6f;
}

.course-name-input,
.course-location-input {
  width: 60%;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.delete-tee-box-button {
  background-color: #f78282;
  width: 100%;
  margin-top: 8px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
}

.delete-tee-box-button:hover {
  background-color: #d46f6f;
}

.edit-golf-course-wrapper {
  display: flex;
  justify-content: center;
  max-height: 92vh;
}

.edit-golf-course-wrapper form {
  display: flex;
  flex-direction: column;
  outline: 5px solid black;
  width: 50%;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  margin: 20px;
}

.edit-golf-course-wrapper h1 {
  text-align: center;
}

.edit-golf-course-wrapper label {
  font-size: 20px;
  font-weight: bold;
}

.edit-pencil-svg {
  height: 23px;
  margin-left: 12px;
  background-color: white;
  cursor: pointer;
}

.filter-items-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0 0 16px;
}

.filter-outings-icon {
  height: 20px;
  width: auto;
}

.golf-course-select {
  font-size: 20px;
  padding: 5px;
}

.hole-par-line {
  margin-top: 12px;
}

.holes-dropdown {
  width: 215px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.index-content-wrapper {
  display: flex;
}

.map-icon-and-address-wrapper {
  display: flex;
  align-items: center;
}

.map-icon {
  margin-right: 10px;
  height: 35px;
  width: auto;
  cursor: pointer;
}

.my-review-category-label {
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
}

.my-review-radio-buttons {
  display: flex;
  margin-bottom: 24px;
}

.my-review-radio-buttons label {
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-bottom: 5px solid black;
}

.navbar button {
  padding: 4px;
  margin-left: 5px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f78282;
  color: black;
  cursor: pointer;
  font-size: 15px;
}

.navbar button:hover {
  background-color: #d46f6f;
}

.navbar-email {
  font-size: 18px;
  font-weight: bold;
}

.navbar-page-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.navbar-page-title:hover {
  text-decoration: underline;
}

.new-review-wrapper {
  margin-top: 8px;
}

.new-review-wrapper label {
  font-size: 24px;
  text-decoration: underline;
}

.outing-date-and-user {
  font-weight: bold;
  font-size: 16px;
}

.outing-info-cell {
  position: block;
}

.outing-info-cell img.edit-outing-icon {
  display: none; 
}

.outing-info-cell:hover img.edit-outing-icon {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
  height: 18px;
}

.page-title-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 5px solid black;
}

.par-input {
  width: 50px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.scorecard-table td, th {
  outline: 3px solid black;
  padding: 4px;
  width: 45px;
  max-width: 45px;
  text-align: center;
  font-size: 20px;
}

.scorecard-table tr td:first-child {
  width: 250px;
  max-width: 250px;
  text-align: left;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.scorecard-table-wrapper {
  overflow-x: auto;
  width: 100%;
}

.sidebar-birdies-header {
  border: 2px solid black;
  border-radius: 50%;
  width: 100px;
  padding: 32px 0px 32px 0px;
}

.sidebar-birdies-header-wrapper {
  display: flex;
  justify-content: center;
}

.sidebar-bogeys-header {
  border: 2px solid black;
  width: 100px;
  padding: 32px 0px 32px 0px;
  margin-top: 8px;
}

.sidebar-bogeys-header-wrapper {
  display: flex;
  justify-content: center;
}

.sidebar-wrapper {
  background-color: white;
  border-left: 5px solid black;
  width: 25%;
}

.sidebar-wrapper h1, 
.sidebar-wrapper h2 {
  text-align: center;
  margin-bottom: 0px;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding-left: 20px; 
}

.sidebar-wrapper ul li {
  line-height: 1.5; 
}

.sidebar-wrapper ul li::before {
  content: "";
  width: 16px; 
  height: 16px; 
  background-image: url('./images/golf-ball.svg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  display: inline-block; 
  vertical-align: middle; 
  margin-right: 10px;
}

.sign-in-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 75px 30px 75px;
  border-radius: 5px;
  outline: 5px solid black;
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
}

.sort-and-filter-wrapper label {
  font-size: 16px;
}

.sort-and-filter-wrapper input[type='radio'] {
  width: 14px; 
  height: 14px;
  margin-left: 10px;
}

.sort-items-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
}

.sort-outings-icon {
  height: 20px;
  width: auto;
}

.submit-button {
  background-color: #44d16c;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #38ae5a;
}

.submit-golf-outing-button {
  font-size: 20px;
  margin-top: 20px;
  outline: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  background-color: #44d16c;
  font-weight: bold;
  cursor: pointer;
}

.submit-golf-outing-button:hover {
  background-color: #38ae5a;
}

.sign-in-wrapper button:hover {
  background-color: #38ae5a;
}

.sign-in-wrapper h1 {
  text-align: center;
}

.sign-in-wrapper input {
  font-size: 18px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.sign-in-wrapper label {
  font-size: 18px;
  font-weight: bold;
}

.review-individual {
  margin-bottom: 20px;
}

.review-category-line {
  display: flex;
  align-items: center;
}

.review-category-line b {
  margin-right: 4px;
  margin-left: 4px;
}

.review-svg {
  height: 18px;
  margin-left: 16px;
}

.review-tabs-wrapper {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.review-tabs-wrapper .active {
  text-decoration: underline;
}

.review-tabs-wrapper span {
  margin-right: 12px;
  cursor: pointer;
}

.review-wrapper h3 {
  margin: 0 0 10px 0;
  text-decoration: underline;
}

.review-wrapper p {
  margin: 1px;
}

.teebox-color-dropdown {
  width: 217.5px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.two-criteria-row {
  display: flex;
  width: 420px;
  justify-content: space-between;
  padding-bottom: 20px;
}

.view-course-info-container {
  width: 75%; 
  background-color: white; 
  padding: 20px;
}

.view-course-info-wrapper p {
  font-size: 20px;
}

.view-course-info-wrapper label {
  font-size: 24px;
  font-weight: bold;
}

.yardage-input {
  width: 65px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.yardage-label-and-input {
  margin-top: 6px;
}