body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-golf-course-wrapper {
  display: flex;
  justify-content: center;
  max-height: 92vh;
}

.add-golf-course-wrapper form {
  display: flex;
  flex-direction: column;
  outline: 5px solid black;
  width: 50%;
  background-color: white;
  padding: 20px;
  overflow-y: auto;
  margin: 20px;
}

.add-golf-course-wrapper h1 {
  text-align: center;
}

.add-golf-course-wrapper input, select, option {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.add-golf-course-wrapper label {
  font-size: 20px;
  font-weight: bold;
}

.add-golf-course-wrapper select {
  width: 250px;
}

body {
  background-image: url(./Assets/images/golf-course.jpg);
  background-size: cover; 
  background-position: center bottom; 
  background-repeat: no-repeat;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-bottom: 5px solid black;
}

.navbar button {
  padding: 4px;
  margin-left: 5px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #f78282;
  color: black;
  cursor: pointer;
  font-size: 15px;
}

.navbar button:hover {
  background-color: #d46f6f;
}

.navbar-email {
  font-size: 18px;
  font-weight: bold;
}

.navbar-page-title {
  font-size: 24px;
  font-weight: bold;
}

.page-title-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 5px solid black;
}

.scorecard-table td, th {
  outline: 3px solid black;
  padding: 4px;
  width: 24px;
  text-align: center;
  font-size: 24px;
}

.scorecard-table tr td:first-child {
  width: 150px;
  text-align: left;
}

.sign-in-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 75px 30px 75px;
  border-radius: 5px;
  outline: 5px solid black;
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
}

.submit-button {
  background-color: #44d16c;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid black;
  padding: 5px;
  cursor: pointer;
}

.sign-in-wrapper button:hover {
  background-color: #38ae5a;
}

.sign-in-wrapper h1 {
  text-align: center;
}

.sign-in-wrapper input {
  font-size: 18px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
}

.sign-in-wrapper label {
  font-size: 18px;
  font-weight: bold;
}

.tee-box-form-wrapper {
  display: flex;
  justify-content: center;
}

.tee-box-form-wrapper input[type='number'] {
  width: 60px;
}

.view-course-info-wrapper p {
  font-size: 20px;
}

.view-course-info-wrapper label {
  font-size: 24px;
  font-weight: bold;
}